* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: lightgrey;
}

.game {
    border: 2px solid black;
    border-radius: 10px solid black;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}

.field {
    width: 130px;
    height: 130px;
    border-bottom: 2px solid black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#X1Y1, #X2Y1, #X3Y1 {
    border-right: 2px solid black;
}

#X1Y3, #X2Y3, #X3Y3 {
    border-left: 2px solid black;
}

#X3Y1, #X3Y2, #X3Y3 {
    border-bottom: none;
}