* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkolivegreen;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
    background-color: lightgrey;
}

.game {
    border: 2px solid black;
    border-radius: 10px solid black;
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10px;
}

.field {
    width: 130px;
    height: 130px;
    border-bottom: 2px solid black;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
}

#R1C1, #R2C1, #R3C1 {
    border-right: 2px solid black;
}

#R1C3, #R2C3, #R3C3 {
    border-left: 2px solid black;
}

#R3C1, #R3C2, #R3C3 {
    border-bottom: none;
}